# Compiled output
/dist
/build

# Dependencies
/node_modules

**/node_modules

.turbo
**/.turbo

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs and temp files
*.log
*.tmp
/temp

# System files
.DS_Store
Thumbs.db

# Optional: Environment files
.env
.env.*
!/.env.example

**/.turbo